#Welcome {
    font-size: 70px;
    color: rgb(128, 122, 122);
    /* text-align: center; */
}

#sellorno {
    font-size: 20px;
    color: rgb(128, 122, 122);
    text-align: left;
    margin-right: 16px;
}

.shoes {
    padding: 10px;
    width: 375px;
    height: 400px;
    margin-bottom: 15px;
    margin-right: 6px;
    background-color: rgb(128, 122, 122);
    font-size: 15px;
    color: rgb(31, 31, 31);
}

img {
    width: 220px;
    height: 200px;
}

body {
    background-color: rgb(31, 31, 31);
}

.cart {
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 6px;
    font-size: 23px;
    color: black;
    background-color: white;
}

.buy {
    display: block;
    height: 30px;
    width: 100px;
    border-radius: 70%;
    border-color: rgb(20, 20, 209);
    background-color: rgb(20, 20, 209);
    color: white;
}

.total {
    font-size: 23px;
    color: white;
}
