#Welcome {
    font-size: 70px;
    color: rgb(128, 122, 122);
    /* text-align: center; */
}

#sellorno {
    font-size: 20px;
    color: rgb(128, 122, 122);
    text-align: left;
    margin-right: 16px;
}

.shoes {
    padding: 10px;
    width: 375px;
    height: 400px;
    margin-bottom: 15px;
    margin-right: 6px;
    background-color: rgb(128, 122, 122);
    font-size: 15px;
    color: rgb(31, 31, 31);
}

img {
    width: 220px;
    height: 200px;
}

body {
    background-color: rgb(31, 31, 31);
}

.cart {
    padding: 10px;
    width: 375px;
    height: 400px;
    margin-bottom: 15px;
    margin-right: 6px;
    background-color: white;
    font-size: 15px;
    color: rgb(31, 31, 31);
}
